<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/landing-page.css">
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>Landing-page</title>
</head>
<body>
    <div id="particles-js">

        <div class="main">
            
            <h1>Mathematics Association,BITS Pilani</h1>
            <p>Welcome to the B4MO quiz. Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum recusandae dolorum optio hic numquam ipsam quisquam similique porro nulla. Incidunt repellendus et modi consequatur!</p>

            <button id="#btn"> <a href="../views/main.html">Login with Google </a> <i class='bx bxl-google' style='color:#000000'></i></button>
        </div>

    </div>
    
    <script src="../js/particles.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>