*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
#particles-js{
    height: 100vh;
    width: 100vw;
    background-color: #002768;
}
.main{
    position: absolute;
    top: 0px;
    margin: 9rem 12rem;
    padding: 6rem;
    background-color: #00000073;
    border: 2px dashed black;
    border-radius: 12px;
}
.main p{
    padding: 0px 2px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: white;
    
}
.main h1{
    color: white;
}
.main button{
    
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 8px 14px;
    background-color: #0000000f;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    color: white;
    transition: all .2s ease-in-out;
    
}
.main button:hover{
    transform: scale(1.2);
}

.main button a{

    text-decoration: none;
    color: white;
}
.main button span{
    position: relative;
    bottom: 5px;
}
.main button img{
    width: 20px;
    height: 20px;
}