@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* Header Styling */

header{
    background-color: rgb(241, 240, 240);
    width: 100%;
    height: 13vh;
    border-bottom: 2px solid black;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 13vh;
    width: 55%;
}
.heading h1{
    font-family: 'Ubuntu Condensed', sans-serif;
    display: inline;
    font-size: 1.5rem;
    padding: 10px 10px;
    margin-top: 16px;       
}
.heading h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 10px 10px;
    margin-top: 20px;
}
.heading img{
    margin-left: 15px;
    padding: 10px 5px;
    width: 5rem;
    height: 5rem;

}
.button{
    display: inline;
    position: absolute;
    right: 35px;
    top: 16px;
}
.button button{
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 22px;  
    transition-duration: 0.4s;
}
.button button:hover{
    border: 2px solid blue;
    background-color: white; 
    color: rgb(0, 0, 0);
}


/* Sidebar Styling */
.sidebar{
    background-color: #11101D;
    border: 1px solid black;
    flex-direction: column;
    display:inline-flex;
    width: 20%;
    height: 87vh;
    float: left;
}
.logo-details{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}
.logo_name{
    color: white;
    padding: 20px 24px;
    font-size: 1.2rem;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li a{
    color: white;
    text-decoration: none;
}
/* Main Section Styling */

.main-section{
    background-color: #f1f0f0;
    position: relative;
    display: inline-flex;
    width: 80%;
    height: 87vh;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

/* Child 1 */
.question{
    padding: 0px 30px;
}
.timer{
    position: relative;
    text-align: right;
    padding-bottom: 10px;
}
.timer p{

    margin-left: auto;
    margin-right: 20px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;  
    width: 13%;
    transition-duration: 0.4s; 

}
.timer#countdown{
    width: 120x;
    padding-bottom: 20px;
    padding-right: 25px;
}
 
/* Child 2 */
.box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.rng {
    margin-left: 30px;
}
.rng button {
  background-color: #fff;
  border: 0;
  outline: 0;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: monospace;
  box-shadow: 1px 1px 1px #0057ab;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid #d9d9d9;
}
.rng button:hover {
  box-shadow: 0px 7px 4px -6px #0057ab;
  transform: scale(1.03);
}
.rng button:active {
  box-shadow: 0px 4px 8px #0065c8;
  transform: scale(0.98);
}
.rng p{
    padding: 9px 9px;
    display: block;
    height: 45%;
    width: 16%;
    margin: auto;
    border-radius: 50%;
    color: black;
    background-color: white;
    border: 2px dashed black;
}
.bet{
    margin-right: 30px;
}

/* Child 3 */
.answer-box{
    height: 33%;
}
.answer-box input{
    
    border-radius: 8px;
    width: 90%;
    margin: 10px 45px;
    height: 90%;
}
